//Colors
$white: #ffffff;
$deepBlue: #01216C;
$regBlue: #1F548B;

//Sizes
$subSecMargin: 10px 10px 10px 30px;
$propPageSecMargin: -90px;
$sliderPos: 10%;
$sliderPsize: 40px;
$propSecH3: 18px;
$moreInfoMarginL: 20px;
$facilitySecFont: 25px;
$guideSecFont: 16px;
$overlayWidth: 100%;
$navLinkSize: 15px;
$tableBorder: 2px solid $deepBlue;
$tableWidth: 60%;
$footerMargin: 15px;

$bgImg: no-repeat padding-box;
