<!DOCTYPE html>
<html lang="en" ng-app="dmci">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>DMCI Homes | Real Estate Philippines, Condo, House and Lot for Sale</title>
    <meta name="description" content="The website of DMCI Homes where you can buy prime house and lots, real estate properties, apartments & condos for sale in the Philippines.">
    <meta name="keywords" content="DMCI, DMCI Condo, Condo Manila, Condo Philippines, Condo for sale, Las Pinas Condo, Makati Condo, Mandaluyong Condo, Muntinlupa Condo, Paranaque Condo, Pasay Condo, Pasig Condo, Taguig Condo">
    <meta name="author" content="Bernadette Engleman">
    <link rel="shortcut icon" href="img/icons/favicon.png">
    <link href="http://fonts.googleapis.com/css?family=Lato" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="http://cdn.bootcss.com/animate.css/3.5.1/animate.min.css">
    <link rel="stylesheet" href="css/styles.css">
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
</head>

<body data-spy="scroll" data-target=".navbar" data-offset="60">

<!-- Landing Section -->
<header id="first-slider">

    <h1>DMCI Homes</h1>

    <div id="carousel-generic" class="carousel slide carousel-fade">
        <!-- Wrapper for slides -->
        <div class="carousel-inner" role="listbox">
            <!-- Item 1 -->
            <div class="item active slide1">
                <div class="container">
                    <p data-animation="animated bounceInUp">Your dream home can be real...</p>
                </div>
            </div>
            <!-- Item 2 -->
            <div class="item slide2">
                <div class="container">
                    <p data-animation="animated bounceInDown" class="last">Make it happen!</p>
                </div>
            </div>
        </div>
    </div>
</header>

<!-- Nav Bar -->
<nav class="container-fluid navbar navbar-main" data-spy="affix" id="navMain">
    <div class="wrap1">
        <ul class="nav navbar-nav">
            <li><a href="#propertiesSection">PROPERTIES</a></li>
            <li><a href="#buyersGuideSection">BUYERS GUIDE</a></li>
            <li><a href="#aboutSection">ABOUT</a></li>
        </ul>
    </div>
</nav>

<contact-modal></contact-modal>

<!-- Properties Section -->
<section id="propertiesSection" class="container-fluid">
    <div contact-button></div>

    <div class="propSection">
        <div dmci-logo></div>
        <h2 class="text-left">PROPERTIES</h2>
        <hr>
        <div ng-controller="propLocController as propLoc" class="row text-center mainPage">
            <div ng-repeat="propLoc in cityLoc" class="col-md-3 col-sm-4 col-xs-6">
                <a href="{{propLoc.link}}">
                    <img ng-src="{{propLoc.photo}}" alt="{{propLoc.cityName}}" class="img-responsive" width="200" height="180">
                    <h3>{{propLoc.cityName}}</h3>
                </a>
            </div>
        </div>
    </div>
</section>

<!-- Buyers Guide Section -->
<section id="buyersGuideSection" class="container-fluid">
    <div contact-button></div>

    <div ng-controller="buyersGuideController as buyersGuide" class="guideSection">
        <div dmci-logo></div>
        <h2 class="text-left">BUYERS GUIDE</h2>
        <hr>
        <img src="img/familyImg/fam1.jpg" alt="Buy a Condo" class="img-responsive designImg">
        <div class="info">
            <h3>READY FOR OCCUPANCY AND MOVE-IN POLICY</h3>
            <p>For as low as <strong><u>20% down payment</u></strong> for mid-rise or <strong><u>30% down payment</u></strong> for high-rise,
                a homebuyer may immediately move into his or her unit and enjoy the privileges of living in a DMCI Homes residential community,
                provided his or her unit is completed.</p>
        </div>

        <!-- Buying Process -->
        <ol type="1">
            <li ng-repeat="buyersGuide in procedure">
                <p>{{buyersGuide.step}}</p>
                <p>{{buyersGuide.description}}</p>
            </li>
        </ol>

        <div class="moreInfo">
            <!-- Cash Payment -->
            <a href="#cashPayment" class="btn" data-toggle="collapse">Requirements for Cash Payment</a>
            <div id="cashPayment" class="collapse">
                <img src="img/familyImg/family1.jpg" alt="Buy a Condo" class="img-responsive designImg">
                <p>Upon reservation of your chosen unit, a welcome letter shall be given as gratitude for making DMCI Homes your choice.
                    To facilitate the documentation process and to complete your unit’s reservation transaction, you must submit the following documents to your Sales Agent:
                </p>
                <ul>
                    <li ng-repeat="buyersGuide in cashRequirement">{{buyersGuide}}</li>
                </ul>
                <p>Once all requirements have been submitted, your Sales Agent shall endorse your documents and all other necessary requirements to the Documents and Inventory Control Department for the preparation of the Deed of Absolute Sale (DOAS).</p>
                <p>All requirements and payments must be completed within thirty (30) days.</p>
            </div>

            <!-- Bank Financing Payment -->
            <a href="#financing" id="financingBtn" class="btn" data-toggle="collapse">Requirements for Bank Financing</a>
            <div id="financing" class="collapse">
                <img src="img/familyImg/family2.jpg" alt="Buy a Condo" class="img-responsive designImg">
                <p>For direct bank financing, a duly accomplished loan application form with the following pre-approval requirements must be submitted to your Sales Agents,
                    preferred accredited bank, or DMCI Homes Bank Financing Helpdesk four (4) months before the due date of the bank financing schedule for processing of your bank loan approval: </p>
                <div ng-repeat="buyersGuide in bankFinancing">
                    <p class="client">{{buyersGuide.type}}</p>
                    <ul>
                        <li ng-repeat="req in buyersGuide.requirements">{{req}}</li>
                    </ul>
                </div>
                <p>When approved by your bank, you will be issued a Letter of Guaranty (LOG) which must be submitted to the Financing Department.</p>
                <p>All requirements and payments must be completed within thirty (30) days.</p>
            </div>
        </div>
    </div>
</section>

<!-- About Section -->
<section id="aboutSection" class="container-fluid">
    <div contact-button></div>

    <div class="dmciSection">
        <div dmci-logo></div>
        <h2 class="text-left">About DMCI</h2>
        <hr>
        <img src="img/condoImg/resort.jpg" alt="Pool" class="img-responsive designImg">
        <img src="img/condoImg/playarea.jpg" alt="Play Area" class="img-responsive designImg">
        <img src="img/condoImg/gym.jpg" alt="Play Area" class="img-responsive designImg">
        <div ng-controller="aboutController as about">
            <div ng-repeat="about in features" class="info">
                <h3>{{about.feature}}</h3>
                <p>{{about.description}}</p>
                <ul>
                    <li ng-repeat="x in about.more">{{x}}</li>
                </ul>
            </div>
        </div>
    </div>
</section>

<footer-main></footer-main>


<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
<script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
<script src="js/script.js"></script>
<!-- AngularJS App -->
<script src="js/app.js"></script>
<script src="js/template.js"></script>

</body>

</html>
