@charset "utf-8";
/* CSS Document */
@import url(https://fonts.googleapis.com/css?family=Quicksand:400,700);

body {
    position: relative;
    background-color: #eff2f7;
    color: #191919;
    font: 400 15px Lato, sans-serif;
    line-height: 1.8;
}

/** Colors **/
.navbar.navbar-main,
ul.nav.navbar-nav > li > a:hover,
ul.nav.navbar-nav > li > a:active,
ul.nav.navbar-nav > li.active > a,
.propSection a:hover h3,
.propName .infoBtn,
.call p,
#units p,
#facilitiesSection .row h4 {
    background-color: #01216C;
}

.modal-header,
.propSection h3,
.propName .infoBtn:hover,
.propSection th {
    background-color: #1F548B;
}

.propSection, .guideSection,
.dmciSection, .cityProp,
#mainSection h3,
#unitsSection h3,
#facilitiesSection h3,
#locationSection h3 {
    background-color: #fff;
}

#first-slider p,
ul.nav.navbar-nav > li > a,
.modal-header,
.propSection h3,
.panel-heading a,
.propName .infoBtn,
.propSection th,
#contact1 .modal-header button,
.call p,
#units p,
#facilitiesSection .row h4,
footer a,
footer a:hover,
footer a:focus,
footer a:visited,
footer span a:hover,
footer span a:focus,
footer span a:active,
footer span a:visited {
    color: #fff;
}

section h2,
.guideSection h3,
.guideSection li p:first-child,
.dmciSection h3,
.moreInfo a,
.moreInfo a:hover,
.moreInfo a:active,
.moreInfo a:focus,
.moreInfo a:visited,
.moreInfo a#financingBtn,
.moreInfo a#financingBtn:hover,
.moreInfo a#financingBtn:active,
.moreInfo a#financingBtn:focus,
.moreInfo a#financingBtn:visited,
#financing p.client,
.propName a p,
#mainSection h3,
#unitsSection h3,
#facilitiesSection h3,
#locationSection h3,
.otherFacility h5 {
    color: #01216C;
}

/** Scrollspy **/
nav.affix {
    top: 0;
    width: 100%;
    z-index: 9999;
}

/** Landing Page Slides backgrounds **/
#first-slider .slide1, #first-slider .slide2 {
    background: left top / cover no-repeat;
}

#first-slider .slide1 {
    background-image: url(../img/landingPage/sienaPark2-paranaque.jpg);
}

#first-slider .slide2 {
    background-image: url(../img/landingPage/cedarCrest-taguig.jpg);
}

/** Landing Page **/
header#first-slider {
    font-family: 'Quicksand', sans-serif;
    font-weight: 700;
}

#first-slider p {
    font-size: 40px;
    font-weight: 600;
    text-shadow: 3px 3px 5px #01216C;
}

#first-slider p.last {
    font-size: 60px;
}

.carousel-inner .item .container {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    bottom: 0;
    top: 0;
    left: 0;
    right: 0;
}

.carousel-fade .carousel-inner .item {
    -webkit-transition-property: opacity;
    transition-property: opacity;
}

.carousel-fade .carousel-inner .item {
    opacity: 0.4;
}

.carousel-fade .carousel-inner .active {
    opacity: 1;
}

/** Nav Bar **/
.affix ~ .container-fluid {
    position: relative;
    top: 50px;
}

.navbar.navbar-main {
    margin: 0;
    border: none;
    border-radius: 0;
    z-index: 9999;
}

.navbar.navbar-main .wrap1 {
    position: relative;
    float: left;
    left: 50%;
}

ul.nav.navbar-nav {
    position: relative;
    float: left;
    left: -50%;
}

ul.nav.navbar-nav li {
    float: left;
}

ul.nav.navbar-nav > li > a {
    float: left;
    font-family: 'Open Sans', sans-serif;
    font-size: 15px;
    font-weight: 700;
    letter-spacing: 3px;
}

ul.nav.navbar-nav > li > a:hover,
ul.nav.navbar-nav > li > a:active,
ul.nav.navbar-nav > li.active > a {
    color: #66acee;
}

/* Contact Button */
.call {
    position: relative;
}

.call img {
    position: absolute;
    top: 80px;
    right: -15px;
    border: 3px solid #01216C;
    border-top-left-radius: 5px;
    border-right: none;
    border-bottom: none;
    animation-name: flicker;
    -webkit-animation-name: flicker;
    animation-iteration-count: infinite;
    -webkit-animation-iteration-count: infinite;
    animation-duration: 1s;
    -webkit-animation-duration: 1s;
    cursor: pointer;
    z-index: 100;
}

.call p {
    position: absolute;
    top: 150px;
    right: -15px;
    width: 70px;
    font-size: 16px;
    padding: 5px;
    text-align: center;
    border-bottom-left-radius: 5px;
    animation-name: flicker;
    -webkit-animation-name: flicker;
    animation-iteration-count: infinite;
    -webkit-animation-iteration-count: infinite;
    animation-duration: 1s;
    -webkit-animation-duration: 1s;
    cursor: pointer;
    z-index: 100;
}

@-webkit-keyframes flicker {
    0%, 100% {opacity: 1;}
    50% {opacity: 0.3;}
}

@keyframes flicker {
    0%, 100% {opacity: 1;}
    50% {opacity: 0.3;}
}

@-webkit-keyframes flicker {
    0%, 100% {opacity: 1;}
    50% {opacity: 0.3;}
}

@keyframes flicker {
    0%, 100% {opacity: 1;}
    50% {opacity: 0.3;}
}

#contact1.contact {
    top: 25%;
    z-index: 10000;
}

.modal-header p {
    font-size: 18px;
    font-weight: 700;
}

.modal-body p {
    color: #191919;
    font-size: 16px;
}

/* All Pages Styles */
#first-slider h1,
.panel-collapse h5,
footer h2.invisible {
    position: absolute;
    text-indent: -3000px;
}

section h2,
#unitsSection h3,
#facilitiesSection h3,
#locationSection h3 {
    font-size: 30px;
    margin-left: 10px;
}

.dmciLogo {
    position: relative;
}

.dmciLogo img {
    float: right;
    position: absolute;
    top: 0;
    right: 0;
}

.properties img, hr {
    padding: 0;
    margin: 0;
}

.propSection, .guideSection,
.dmciSection, .cityProp {
    margin: 5%;
    padding: 10px;
}

.propSection h2, .guideSection h2,
.dmciSection h2, #unitsSection h3,
#facilitiesSection h3 {
    padding: 10px 0 0 40px;
    margin: 20px;
}

.guideSection h3,
.guideSection li p:first-child,
.dmciSection h3 {
    font-size: 20px;
    font-weight: 700;
}

.propSection .row,
.guideSection ol,
.guideSection .moreInfo {
    width: 95%;
    margin: 35px auto 10px;
}

.moreInfo,
.info:last-of-type {
    padding-bottom: 20px;
}

.guideSection img.designImg,
.dmciSection img.designImg {
    float: right;
    clear: both;
    width: 30%;
    margin: 40px 20px 20px 25px;
}

/***** Main Page *****/

/* Properties */
.propSection h2,
#unitsSection h3,
#facilitiesSection h3 {
    background: url(../img/icons/condoLogo.png) 0 3px/50px no-repeat padding-box;
}

.propSection a {
    text-decoration: none;
}

.propSection img {
    margin: 0 auto;
}

.propSection h3 {
    margin: 0 auto 25px;
    padding-top: 7px;
    padding-bottom: 7px;
}

/* Buyer's Guide */
.guideSection h2 {
    background: url(../img/icons/listLogo.png) 10px 15px/25px no-repeat padding-box;
}

.info h3 {
    padding-top: 20px;
}

.info p {
    margin-left: 20px;
    font-size: 16px;
}

.moreInfo a {
    display: block;
    background: url(../img/icons/listLogo.png) 10px 12px/15px no-repeat padding-box;
    font-size: 18px;
    font-weight: 600;
    text-align: left;
    margin-left: 20px;
    padding-left: 35px;
    text-decoration: none;
}

.moreInfo a,
.moreInfo a:focus,
.moreInfo a:visited,
.moreInfo a#financingBtn,
.moreInfo a#financingBtn:focus,
.moreInfo a#financingBtn:visited {
    text-decoration: none;
}

.moreInfo a:hover,
.moreInfo a:active,
.moreInfo a#financingBtn:hover,
.moreInfo a#financingBtn:active {
    box-shadow: none;
    text-decoration: underline;
}

div.info,
.moreInfo #cashPayment,
.moreInfo #financing {
    width: 90%;
    margin: 20px auto 10px;
}

.moreInfo .collapse p:last-child {
    margin-bottom: 30px;
}

#financing p.client {
    font-size: 16px;
    font-weight: 700;
}

/* About */
.dmciSection h2 {
    background: url(../img/icons/about.png) 10px 15px/25px no-repeat padding-box;
}

/* Footer */
footer {
    background-color: #18345c;
    color: #eff2f7;
    height: auto;
    padding-top: 10px;
    margin: 0;
}

footer .row {
    margin-bottom: 15px;
}

footer img {
    margin: 30px auto 10px;
}

footer .row p {
    margin-left: 60px;
}

footer ul {
    list-style: none;
}

footer ul.rightLoc {
    margin-left: -20px;
}

footer a,
footer a:visited,
footer span a:active,
footer span a:visited {
    text-decoration: none;
}

footer a:hover,
footer a:focus,
footer span a:hover,
footer span a:focus {
    border-bottom: 1px solid;
    text-decoration: none;
}

/***** Locations Page *****/
.cityProp h2,
#locationSection h3 {
    background: url(../img/icons/locationIcon.png) 10px 5px/25px no-repeat padding-box;
    padding-left: 40px;
    margin: 20px;
}

#mainSection .propSection h3 {
    margin-right: 20px;
}

.panel-group.accordion {
    width: 90%;
    margin: 25px auto;
}

.panel-heading a {
    text-decoration: none;
    letter-spacing: 1px;
    font-size: 18px;
}

.panel-heading.unCons {
    background-color: rgba(8,170,87,0.7);
}

.panel-heading.readOc {
    background-color: rgba(6,83,163,0.7);
}

.panel-heading a h4 {
    padding: 5px 10px;
}

.panel-body img {
    display: inline;
    margin: 20px 20px;
}

.propName {
    display: inline-block;
    border: 2px solid #18345c;
    border-radius: 5px;
    margin: 10px;
}

.propName a:hover,
.propName a:focus,
.propName a:active {
    text-decoration: none;
}

.propName .infoBtn {
    display: inline-block;
    float: left;
    line-height: 18px;
    font-weight: 700;
    padding: 10px;
    margin-left: 25px;
    border-radius: 5px;
}

.propName a p.text-left {
    float: left;
    font-weight: 600;
    margin: 5px 15px 25px 35px;
}

/***** Property Pages *****/
section#unitsSection,
section#facilitiesSection,
section#locationSection {
    margin-top: -90px;
}

#mainSection h3 {
    color: #191919;
    font-size: 18px;
    line-height: 26px;
    margin: 0 0 10px 40px;
}

.condoMainImg {
    padding-top: 35px;
    padding-bottom: 35px;
}

#unitsSection h3,
#facilitiesSection h3,
#locationSection h3 {
    margin: 10px 10px 10px 30px;
}

.propSection table,
.propSection th,
.propSection td {
    border: 2px solid #01216C;
}

.propSection table {
    width: 60%;
    margin: 30px auto;
}

#unitsSection th {
    height: 50px;
    font-size: 20px;
    font-weight: 700;
    vertical-align: middle;
    text-align: center;
}

#unitsSection td {
    height: 35px;
    font-size: 15px;
    vertical-align: middle;
}

#facilitiesSection .row img {
    border: 2px solid #01216C;
    z-index: 10;
    cursor: pointer;
}

#facilitiesSection .row img:hover {
    opacity: 0.6;
    cursor: pointer;
}

#units p,
#facilitiesSection h4 {
    margin: 0 auto 25px;
    padding-top: 7px;
    padding-bottom: 7px;
}

/* Image Zoom */
#overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    display: none;
    z-index: 100;
}

#overlayContent {
    position: fixed;
    width: 100%;
    top: 100px;
    left: 0;
    text-align: center;
    display: none;
    overflow: hidden;
    z-index: 100;
}

#overlayContent img {
    width: 55%;
}

#imgBig {
    border: 5px solid #01216C;
    border-radius: 5px;
    cursor: pointer;
}

.otherFacility {
    padding: 0 50px 30px;
}

.otherFacility h5 {
    font-size: 18px;
    font-weight: 700;
    margin-bottom: 15px;
    text-decoration: underline;
}

.otherFacility ul {
    list-style: none;
    font-size: 16px;
    text-indent: -20px;
}

#map {
    margin: 30px auto;
}

/***** Media Queries *****/
@media screen and (max-width: 1100px) {
    section#unitsSection,
    section#facilitiesSection,
    section#locationSection {
        margin-top: -60px;
    }
    #overlayContent img {
        width: 75%;
    }
    .propSection table {
        width: 65%;
    }
}

@media screen and (max-width: 992px) {
    #first-slider .slide1 {
        background-position: 40% top;
    }
    .call img, .call p {
        width: 65px;
    }
    .call p {
        top: 145px;
        font-size: 14px;
        padding: 3px;
    }
    .propSection table {
        width: 75%;
    }
    footer .row p {
        margin-left: 0;
    }
    footer .last.row {
        margin-left: -35px;
    }
    footer ul.rightLoc {
        margin-left: -10px;
    }
}

@media screen and (max-width: 767px) {
    .call img, .call p {
        width: 60px;
    }
    .call p {
        top: 140px;
    }
    #contact1.contact {
        width: 60%;
        margin-left: auto;
        margin-right: auto;
    }
    .propSection table {
        width: 85%;
    }
    img[src$="condoImg/resort.jpg"],
    img[src$="condoImg/playarea.jpg"],
    img[src$="condoImg/gym.jpg"] {
        display: none;
    }
    .cityProp h2 {
        font-size: 26px;
    }
    .propName img {
        width: 90%;
    }
    section#unitsSection,
    section#facilitiesSection,
    section#locationSection {
        margin-top: -30px;
    }
    #overlayContent img {
        width: 85%;
    }
    .otherFacility {
        padding: 0 30px 30px;
    }
    footer .row p {
        text-align: center;
    }
    footer .last.row {
        margin-left: 70px;
    }
    footer ul.rightLoc {
        margin-left: 0;
    }
}

@media screen and (max-width: 668px) {
    #first-slider p {
        font-size: 30px;
    }
    #first-slider p.last {
        font-size: 45px;
    }
    .dmciLogo img {
        float: none;
        position: relative;
        display: block;
        width: 200px;
        margin-left: auto;
        margin-right: auto;
    }
    img[src$="family1.jpg"],
    img[src$="family2.jpg"] {
        display: none;
    }
    .otherFacility {
        padding: 0 20px 30px;
    }
}

@media screen and (max-width: 600px) {
    img[src$="fam1.jpg"] {
        display: none;
    }
    .moreInfo a {
        font-size: 16px;
        margin-left: 10px;
    }
    .propName a p.text-left {
        margin-left: 15px;
    }
    #overlayContent img {
        width: 90%;
    }
    footer ul.rightLoc {
        margin-left: -35px;
    }
}

@media screen and (max-width: 550px) {
    #first-slider .slide1 {
        background-position: 45% top;
    }
    #first-slider p {
        text-align: center;
        margin-left: 15px;
        margin-right: 15px;
    }
    #first-slider p.last {
        font-size: 40px;
    }
    .propSection h3 {
        font-size: 18px;
    }
    .propName img {
        width: 85%;
    }
    #grid h4 {
        font-size: 15px;
    }
    footer span:last-of-type {
        display: block;
    }
}

@media screen and (max-width: 500px) {
    #first-slider p.last {
        font-size: 35px;
    }
    ul.nav.navbar-nav > li > a {
        font-size: 12px;
        letter-spacing: 1px;
    }
    #contact1.contact {
        width: 75%;
    }
    .moreInfo a {
        font-size: 14px;
        margin-left: 5px;
    }
    .propName a p:last-of-type {
        font-size: 14px;
    }
    section#unitsSection,
    section#facilitiesSection,
    section#locationSection {
        margin-top: -10px;
    }
    #overlayContent img {
        width: 95%;
    }
    .otherFacility {
        padding: 0 10px 30px;
    }
    footer .last.row {
        margin-left: 50px;
    }
    footer ul.rightLoc {
        margin-left: -40px;
    }
}

@media screen and (max-width: 450px) {
    #first-slider .slide2 {
        background-position: 10% top;
    }
    .propSection h3 {
        font-size: 15px;
    }
    .moreInfo a {
        background: url(../img/icons/listLogo.png) 10px 10px/12px no-repeat padding-box;
        margin-left: 0;
        padding-left: 30px;
    }
    footer .last.row {
        margin-left: 25px;
    }
}

@media screen and (max-width: 400px) {
    section h2,
    #unitsSection h3,
    #facilitiesSection h3,
    #locationSection h3 {
        font-size: 25px;
        margin-left: 0;
    }
    .propSection h2,
    #unitsSection h3,
    #facilitiesSection h3 {
        background: url(../img/icons/condoLogo.png) 0 5px/40px no-repeat padding-box;
    }
    .guideSection h2 {
        background: url(../img/icons/listLogo.png) 10px 15px/20px no-repeat padding-box;
    }
    .dmciSection h2 {
        background: url(../img/icons/about.png) 10px 15px/20px no-repeat padding-box;
    }
    .cityProp h2,
    #locationSection h3 {
        background: url(../img/icons/locationIcon.png) 10px 5px/20px no-repeat padding-box;
        padding-left: 35px;
        margin-left: 5px;
    }
    .propSection h3 {
        font-size: 13px;
    }
    footer .last.row {
        margin-left: 0;
    }
}

@media screen and (max-width: 350px) {
    ul.nav.navbar-nav > li > a {
        font-size: 10px;
    }
    .propSection h3 {
        font-size: 12px;
    }
    footer .last.row {
        margin-left: -30px;
    }
}
